@import '../../../../styles/variables'

.overview
  padding: 15px
  background-color: $dark-gray

@media screen and ( max-width: 770px )
  .overview
    padding-bottom: 100px


@media screen and ( max-width: 480px )
  .overview
    padding-bottom: 145px
    