@import '../../../../styles/variables'

.nav-title
  height: 15px
  margin: 0 0 5px
  cursor: pointer

  text-transform: uppercase
  font-size: 11px
  letter-spacing: 1px

  &__icon
    width: 16px
    margin: -4px 0 -7px 1px

    fill: $light-gray

@media screen and ( max-width: 770px )
  .nav-title
      width: 100%
      text-align: center