@import '../../../../styles/variables'

.artists-page
  width: 100%

  background-color: $dark-gray
  display: flex
  flex-wrap: wrap

  &__block
    box-sizing: border-box
    overflow-x: hidden
    width: 25%
    padding: 15px