@import '../../../../styles/variables'
  
.artist-bar
  position: relative
  width: calc(100% - 460px)
  left: 230px
  top: 60px
  height: 320px
  overflow: hidden
  background-color: $dark-gray

  &__back
    position: absolute
    min-height: 100%
    min-width: 100%
    left: 50%
    transform: translateX(-50%)
    opacity: 0.15

  &__info
    position: absolute
    padding: 15px
    bottom: 60px
    width: calc(100% - 200px)

  &__image
    height: 150px
    margin-right: 15px
    border-radius: 50%
    float: left

  &__title
    margin: 45px 0 0 0

    text-transform: uppercase
    font-size: 11px
    letter-spacing: 1px

  &__name
    margin: 10px 0 15px

    font-size: 36px
    font-weight: 300
    color: $white

  .text-button
    margin-right: 10px
    float: left

  &__listeners
    position: absolute
    right: 0
    width: 200px
    margin: 0
    bottom: 60px
    padding: 15px

    text-align: right
    font-size: 12px
    text-transform: uppercase
    letter-spacing: 1px

    &-number
      font-size: 16px
      margin: 0