@import '../../../../styles/variables'

.tabs
  width: 100%
  position: absolute
  top: -60px
  background-color: $transparentGray

  &__list
    padding: 0
    margin: 0
    width: 100%
    height: 60px
    display: flex
    list-style-type: none

.tab-item
  padding: 0 15px
  height: 58px
  box-sizing: border-box

  text-transform: uppercase
  color: $light-gray
  line-height: 22px
  letter-spacing: 1px
  cursor: pointer

  transition: color 0.4s

  &:hover
    color: $white

  &__text
    padding: 15px 0
    margin: 0

  &_active &__text
    border-bottom: 4px solid $green

  &_active
    color: $white
    cursor: default
