.top-bar__search
  box-sizing: border-box
  padding: 2px 25px
  width: 195px

  font-size: 14px
  letter-spacing: 0.2px
  line-height: 16px

  border: none
  border-radius: 15px
  background: url(../../../../img/search.svg) left 3px top 1px no-repeat
  background-size: 19px

.top-bar__search:focus
  outline: none

