$light-gray: #aaaaaa
$white: #ffffff

.user

  &__button
    height: 20px

  &__button-path
    fill: $light-gray
  
  &__button:hover &__button-path
    fill: $white

  &__info

    &-image
      width: 30px
      border-radius: 50%