@import '../../../../styles/variables'

.user
  width: 300px
  padding: 0 10px
  display: flex
  justify-content: space-between
  align-items: center

  &__button
    height: 18px

  &__button-path
    fill: $light-gray
  
  &__button:hover &__button-path
    fill: $white

  &__info
    width: 140px
    display: flex
    justify-content: space-between
    align-items: center

    &-image
      width: 30px
      border-radius: 50%

  &__menu
    position: absolute

    

    