@import '../../styles/variables'

.arrow-button
  padding: 5px
  height: 19px
  width: 19px
  float: left
  fill: $light-gray

.arrow-button_left
  transform: rotateZ(90deg)

.arrow-button_right
  transform: rotateZ(90deg) rotateX(180deg)

.arrow-button_disabled
  fill: $gray

.arrow-button_active
  cursor: pointer

.arrow-button_active:hover
  fill: $white