@import '../../../styles/variables'

=flex()
  display: flex
  justify-content: space-between
  align-items: center

.top-bar
  box-sizing: border-box
  background-color: $mainTheme
  padding: 0 10px
  height: 60px
  position: fixed
  width: 100%
  +flex()

  &__nav-buttons
    +flex()
    width: 65px


  &__nav
    box-sizing: border-box
    width: 270px
    +flex()
