@import '../../../styles/variables'

=flex()
  display: flex
  justify-content: space-between
  align-items: center

.top-bar
  box-sizing: border-box
  background-color: $mainTheme
  padding: 0 10px
  top: 0
  height: 60px
  position: fixed
  width: 100%
  border-bottom: 1px solid $dark-gray
  +flex()

  &__nav-buttons
    +flex()
    width: 76px
    padding-right: 10px

  &__nav-arrow
    padding: 5px
    height: 28px
    width: 28px
    float: left
    fill: $gray

    &_active
      fill: $light-gray

      &:hover
        fill: $white

  &__nav
    box-sizing: border-box
    width: 270px
    +flex()
