@import '../../../styles/variables'

.menu-bar
  position: fixed
  top: 60px
  width: 230px
  height: calc(100vh - 60px)

  background-color: $mainTheme

  &__navigation
    height: calc(100vh - 267px)
    overflow-y: scroll
    padding: 15px

  &__list
    overflow: hidden
    margin: 0 0 15px
    padding: 0
    list-style-type: none

  &__list_open
    height: 0

  &__link
    box-sizing: border-box
    display: block
    padding: 5px 0
    height: 30px

    color: inherit
    text-decoration: none
    line-height: 20px

  &__item-icon
    width: 14px
    margin-right: 10px
    float: left
    fill: $light-gray

  &__link:hover
    color: $white
    border-right: 3px $green solid

  &__link:hover &__item-icon
    fill: $white
    