@import '../../../../styles/variables'
  
.related
  list-style-type: none
  dispaly: flex
  flex-flow: row wrap
  padding: 0
  margin: 0

  &__item
    display: inline-block
    width: 100%

@media screen and ( max-width: 1025px )
  .related
    &__item
      margin: 10px
      width: calc(100% / 3 - 20px)

@media screen and ( max-width: 770px )
  .related
    &__item
      margin: 5px
      width: calc(100% / 2 - 10px)

@media screen and ( max-width: 480px )
  .related
    &__item
      margin: 5px
      width: calc(100% / 4 - 10px)