@import '../../../../styles/variables'

.menu-bar
  &__add-button
    position: absolute
    bottom: 113px
    width: 100%
    height: 65px
    box-sizing: border-box
    padding: 15px

    background-color: $mainTheme
    border-top: 1px solid $dark-gray
    border-bottom: 1px solid $dark-gray

    &:hover
      color: $white
      background-color: $label

  &__add-link
    display: flex
    align-items: center
    height: 100%

    text-decoration: none
    color: inherit

  &__add-icon
    fill: $white
    width: 24px
    height: 24px
    padding-right: 13px

